html,body{height:100%;}
html,body,div,span,a,p,img,input,select,textarea,form,fieldset,table,td,tr,h1,h2,h3,dt,dd{margin:0;padding:0;outline:0;border:0;font-weight:normal;line-height:1.5; color:#000000; font-size:12px; }
a{color:#6224a1;text-decoration:none;}
a:hover{text-decoration:underline;}
p { padding:7px 0px 7px 0px; }
.t-center{text-align:center;}
.rel { position:relative; }
.fl { float:left; }
.fr { float:right; }
.cb { clear:both; }

a.white { color:#FFFFFF; text-decoration:underline; }


body{min-width:1022px;color:#6224a1; font-size:17px;font-family:'Myriad Pro'; }
textarea { font-family:'Myriad Pro'; } 

h1 { color:#252525; font-size:30px; padding-top:15px; padding-bottom:10px;}
h2 { color:#6224a1; font-size:14px; padding-bottom:5px; }
 
.violet { color:#6224a1; }
.gray { color:#c7c7c7; }
.white { color:#FFFFFF; }

.sep { padding-left:20px; padding-right:20px; }


.header { width:100%; height:229px; background:#ebebeb url(../images/bg_header.jpg) no-repeat center }
.header .wrapper { width:940px; padding-top:41px; }
.header .links { float:left; width:360px; padding-top:20px; }
.header .links a { font-size:14px; }
.header .search { float:left; padding-top:10px; padding-left:70px; }
.header .search .field { border:none; height:40px; width:250px; padding-left:22px; background: #FFFFFF url(../images/timer_icon.gif) 235px 9px no-repeat; }

.header .menu { width:940px; position:relative; top:22px; z-index:10000; }
.header .menu .item { float:left; height:113px; width:133px; background:url(../images/decoration/menu_noactive_line.jpg) repeat-x; cursor:pointer; }
.header .menu .item.active { float:left; height:122px; position:relative; top:-9px; width:133px; background:url(../images/decoration/menu_active_line.jpg) repeat-x; cursor:pointer; }
.header .menu .item.hover { background:url(../images/decoration/menu_noactive_line_hover.jpg) repeat-x; }
.header .menu .item .text { padding-top:65px; color:#707070; font-size:14px; }
.header .menu .item.active .text, .menu .item.hover .text { color: #6224a1; }

.header .menu .item .text.services { background:url(../images/decoration/icon_planet.png) center no-repeat; }
.header .menu .item .text.contacts { background:url(../images/decoration/icon_marker.png) center no-repeat; }
.header .menu .item .text.about, .header .menu .item .text.support, .header .menu .item .text.optimization, .header .menu .item .text.audit { background:url(../images/decoration/icon_list.png) center no-repeat; }
.header .menu .item .text.transfer { background:url(../images/decoration/icon_airplane.png) center no-repeat; }

.header .menu .item.hover .text.services, .header .menu .item.active .text.services { background:url(../images/decoration/icon_planet_active.png) center no-repeat; }
.header .menu .item.hover .text.contacts, .header .menu .item.active .text.contacts { background:url(../images/decoration/icon_marker_active.png) center no-repeat; }
.header .menu .item.hover .text.about, .header .menu .item.active .text.about,
.header .menu .item.hover .text.support, .header .menu .item.active .text.support,
.header .menu .item.hover .text.optimization, .header .menu .item.active .text.optimization,
.header .menu .item.hover .text.audit, .header .menu .item.active .text.audit 
{ background:url(../images/decoration/icon_list_active.png) center no-repeat; }

.menu .item.hover .text.transfer, .menu .item.active .text.transfer { background:url(../images/decoration/icon_airplane_active.png) center no-repeat; }

.menu .delimiter { float:left; height:108px; width:1px; background:url(../images/decoration/menu_delimiter.jpg) right no-repeat; }

.find-text { color:#FFFFFF; position:absolute; z-index:10000; padding-left:40px; padding-top:90px; float:right; width:30%; line-height:1.2; font-size:15px; }

.bridge { background:#5d2762 url(../images/bridge.jpg) right no-repeat; height: 537px; width:100%; }
.roadmap { background:#2d2d2d; width:100%; padding-top:60px; padding-bottom:80px; }
.roadmap .wrapper { width:940px; }
.roadmap .image { padding-bottom:15px; }
.roadmap .text-box { float:left; width:33%; text-align:left; }
.roadmap .text-box .title { font-size:24px; color:#FFFFFF; }
.roadmap .text-box .text { font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FFFFFF; width:90%; padding-left:30px; }

.sep-gray { background:#5a5a5a; height:1px; }
.sep-violet { background:#914dcf; height:1px; }

.footer { background:#373737; }
.footer .wrapper { width:940px; }
.footer .logo { padding-top:30px; padding-bottom:30px; }
.footer .text { color:#c7c7c7; font-size:12px; }
.footer .text-bottom div { color:#6c6c6c; font-size:10px; }

.footer .menu { padding-top:40px; }
.footer .menu, .footer .menu a { color:#C7C7C7; font-size:12px; }
.footer .menu a.active { border-bottom:#914dcf 4px solid; padding-bottom:15px; }
.footer .menu .sep { color:#767676; padding-right:20px; padding-left:20px; }

.footer .s-links { padding-top:40px; }
.footer .s-links a { color:#FFFFFF; font-size:12px; padding-left:20px; padding-right:20px; }
.footer .s-links a.tw { background:url(../images/decoration/icon-tw.png) no-repeat left; }
.footer .s-links a.fb { background:url(../images/decoration/icon-fb.png) no-repeat left; padding-left:15px; }
.footer .s-links a.rss { background:url(../images/decoration/icon-rss.png) no-repeat left; padding-left:15px; }
.footer .s-links a.mail { background:url(../images/decoration/icon-mail.png) no-repeat left; }

.content { background:#ebebeb; padding-top:20px; padding-bottom:20px; }
.content .wrapper { width:940px; background:#FFFFFF; }
.content .wrapper .inner { padding:20px; padding-top:5px; }

.feedback-root { width:100%; }
.feedback-form { width:350px; }
.feedback-root .field { padding-top:15px; }
.feedback-root form input, .feedback-root form select, .feedback-root form textarea { width:100%; padding:5px; border:#A2A2A2 1px solid; color:#707070 }
.feedback-root form select { width:362px; }
.feedback-root form textarea { height:150px; }